<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.springfull.backend.mapper.AdminMapper">
	<select id="allPost">
		select p.post_no, title, p.member_uuid, name, post_like, reg_date, p.state
		from post p
		join member m on p.member_uuid = m.member_uuid
		<where>
			<!-- 키워드 검색 -->
			<if test="keyword != null and keyword.length>0">
				title like concat('%',#{keyword},'%') or content like concat('%',#{keyword},'%')
			</if>
		</where>
		group by p.post_no
		<if test="sort == 1">
			order by post_no desc
		</if>
		<if test="sort == 2">
			order by post_like desc
		</if>
		limit #{skip}, #{size}
	</select>
	
	<select id="allPostCount">
		select count(*)
		from post p
		<where>
			<!-- 키워드 검색 -->
			<if test="keyword != null and keyword.length>0">
				title like concat('%',#{keyword},'%') or content like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<select id="read">
		select *
		from post
		where post_no = #{post_no}
	</select>
	
	<select id="userList">
		select *
		from member
		<where>
			<!-- 키워드 검색 -->
			<if test="keyword != null and keyword.length>0">
				member_uuid like concat('%',#{keyword},'%') or name like concat('%',#{keyword},'%')
			</if>
		</where>
		limit #{skip}, #{size}
	</select>
	
	<select id="userCount">
		select count(*)
		from member
		<where>
			<!-- 키워드 검색 -->
			<if test="keyword != null and keyword.length>0">
				member_uuid like concat('%',#{keyword},'%') or name like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
	
	<update id="changeState">
		update member
		set state = #{state}
		where member_uuid = #{member_uuid}
	</update>
	
	<select id="reportList">
		select *
		from report
		<where>
			<!-- 키워드 검색 -->
			<if test="keyword != null and keyword.length>0">
				content like concat('%',#{keyword},'%')
			</if>
		</where>
		order by report_no desc
		limit #{skip}, #{size}
	</select>
	
	<select id="reportCount">
		select count(*)
		from report
		<where>
			<!-- 키워드 검색 -->
			<if test="keyword != null and keyword.length>0">
				content like concat('%',#{keyword},'%')
			</if>
		</where>
	</select>
</mapper>