<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.springfull.backend.mapper.ListMapper">
	<select id="search" resultType="com.springfull.backend.domain.PostDTO">
		select p.post_no, title, p.member_uuid, name, post_like, reg_date
		from post p
		join member m on p.member_uuid = m.member_uuid
		<if test="brand != null and brand.size>0">
			join post_brand pb on p.post_no = pb.post_no
		</if>
		<!-- 맛 join -->
		<if test="taste != null and taste.size>0">
			join post_taste pt on p.post_no = pt.post_no
		</if>
		<!-- 재료 join -->
		<if test="ingredient != null and ingredient.size>0">
			join post_ingredient pi on p.post_no = pi.post_no
		</if>
		<if test="sort == 3">
			left join (select avg(star) as star, post_no
				from star
				group by post_no) s on s.post_no = p.post_no
		</if>	
		<where>
			p.state=1
			<!-- 브랜드 검색 -->
			<if test="brand != null and brand.size>0">
				<trim prefix="and">
					brand_id in
					<foreach item="brand_id" collection="brand" open="(" separator="," close=")">
	        			#{brand_id}
	    			</foreach>
    			</trim>
			</if>
			<!-- 맛 검색 -->
			<if test="taste != null and taste.size>0">
				<trim prefix="and">
					taste_id in
					<foreach item="taste_id" collection="taste" open="(" separator="," close=")">
	        			#{taste_id}
	    			</foreach>
    			</trim>
			</if>
			<!-- 재료 검색 -->
			<if test="ingredient != null and ingredient.size>0">
				<trim prefix="and">
					ingredient_id in
					<foreach item="ingredient_id" collection="ingredient" open="(" separator="," close=")">
	        			#{ingredient_id}
	    			</foreach>
    			</trim>
			</if>
			<!-- 키워드 검색 -->
			<if test="keyword != null and keyword.length>0">
				<trim prefix="and">
					title like concat('%',#{keyword},'%') or content like concat('%',#{keyword},'%')
				</trim>
			</if>
			<!-- 가격 검색 -->
			<if test="min_cost!=null">
				<trim prefix="and">
					cost >= #{min_cost}
				</trim>
			</if>
			<if test="max_cost!=null">
				<trim prefix="and">
					<![CDATA[
						cost <= #{max_cost}
					]]>
				</trim>
			</if>
		</where>
		group by p.post_no
		<trim prefix="having" prefixOverrides="and">
			<if test="brand != null and brand.size>0">
				count(distinct brand_id)>=1
			</if>
			<if test="taste != null and taste.size>0">
				<trim prefix="and">
					count(distinct taste_id)=#{tastesize}
				</trim>
			</if>
			<if test="ingredient != null and ingredient.size>0">
				<trim prefix="and">
					count(distinct ingredient_id)=#{ingredientsize}
	    		</trim>
			</if>
		</trim>
		<if test="sort == 1">
			order by post_no desc
		</if>
		<if test="sort == 2">
			order by post_like desc
		</if>
		<if test="sort == 3">
			order by star desc
		</if>
		limit #{skip}, #{size}
	</select>
	
	
	<select id="getCount">
		select count(*)
		from post p
		<if test="brand != null and brand.size>0">
			join post_brand pb on p.post_no = pb.post_no
		</if>
		<!-- 맛 join -->
		<if test="taste != null and taste.size>0">
			join post_taste pt on p.post_no = pt.post_no
		</if>
		<!-- 재료 join -->
		<if test="ingredient != null and ingredient.size>0">
			join post_ingredient pi on p.post_no = pi.post_no
		</if>	
		<where>
			p.state=1
			<!-- 브랜드 검색 -->
			<if test="brand != null and brand.size>0">
				<trim prefix="and">
					brand_id in
					<foreach item="brand_id" collection="brand" open="(" separator="," close=")">
	        			#{brand_id}
	    			</foreach>
    			</trim>
			</if>
			<!-- 맛 검색 -->
			<if test="taste != null and taste.size>0">
				<trim prefix="and">
					taste_id in
					<foreach item="taste_id" collection="taste" open="(" separator="," close=")">
	        			#{taste_id}
	    			</foreach>
    			</trim>
			</if>
			<!-- 재료 검색 -->
			<if test="ingredient != null and ingredient.size>0">
				<trim prefix="and">
					ingredient_id in
					<foreach item="ingredient_id" collection="ingredient" open="(" separator="," close=")">
	        			#{ingredient_id}
	    			</foreach>
    			</trim>
			</if>
			<!-- 키워드 검색 -->
			<if test="keyword != null and keyword.length>0">
				<trim prefix="and">
					title like concat('%',#{keyword},'%') or content like concat('%',#{keyword},'%')
				</trim>
			</if>
			<!-- 가격 검색 -->
			<if test="min_cost!=null">
				<trim prefix="and">
					cost >= #{min_cost}
				</trim>
			</if>
			<if test="max_cost!=null">
				<trim prefix="and">
					<![CDATA[
						cost <= #{max_cost}
					]]>
				</trim>
			</if>
		</where>
		<trim prefix="having" prefixOverrides="and">
			<if test="brand != null and brand.size>0">
				count(distinct brand_id)>=1
			</if>
			<if test="taste != null and taste.size>0">
				<trim prefix="and">
					count(distinct taste_id)=#{tastesize}
				</trim>
			</if>
			<if test="ingredient != null and ingredient.size>0">
				<trim prefix="and">
					count(distinct ingredient_id)=#{ingredientsize}
	    		</trim>
			</if>
		</trim>
	</select>
	
	<select id="getStar" resultType="double">
		select avg(star)
		from star
		where post_no=#{post_no}
	</select>
	
	<select id="getThumbnail">
		select concat('s_',img_uuid,'_',filename)
		from image
		where post_no=#{post_no} and ord = 0
	</select>
	
	<select id="cateSearch">
		select brand_id
		from brand
		where cate_id in
		<foreach item="cate_id" collection="category" open="(" separator="," close=")">
	        	#{cate_id}
	    </foreach>
	</select>
	<select id="hotRanking">
		select *
		from post p
		join member m on p.member_uuid = m.member_uuid
		join (select post_no, sum(like_number) as likes 
			from like_record 
			WHERE `date` BETWEEN CURRENT_DATE() - INTERVAL 6 DAY AND CURRENT_DATE()
			group by post_no) lr on lr.post_no = p.post_no
		where p.state=1
		order by likes desc
		limit 0, 10
	</select>
	<select id="cateRanking">
		select p.*, (post_like*star) as 'score', name, star
		from post p
		join post_brand pb on p.post_no = pb.post_no
		join brand b on b.brand_id = pb.brand_id
		join member m on p.member_uuid = m.member_uuid
		join (
			select post_no, avg(star) as 'star'
			from star
			group by post_no) s on p.post_no = s.post_no
		where cate_id = #{cate_id} and p.state = 1
		group by p.post_no
		order by score desc
		limit 0, #{size}
	</select>
	
	<select id="recent">
		select p.*, name
		from post p 
		join member m on p.member_uuid = m.member_uuid
		where p.state = 1
		order by reg_date desc
		limit 0, 3
	</select>
</mapper>
