<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.springfull.backend.mapper.PostMapper">
	<select id="read">
		select * 
		from post
		where state = 1 and post_no = #{post_no}
	</select>
	
	<select id="getCate">
		select cate_id
		from brand b
		join post_brand pb on pb.brand_id = b.brand_id
		where post_no = #{post_no}
		group by cate_id
	</select>
	
	<select id="getBrand">
		select brand_id
		from post_brand
		where post_no = #{post_no}
	</select>
	
	<select id="getTaste">
		select taste_id
		from post_taste
		where post_no = #{post_no}
	</select>
	
	<select id="getIngredient">
		select ingredient_id
		from post_ingredient
		where post_no=#{post_no}
	</select>
	
	<select id="like_check">
		select record_no
		from like_record
		where post_no = #{post_no} and date = current_date()
	</select>
	
	<insert id="new_like">
		insert into like_record(date, post_no)
		values (current_date(), #{post_no})
	</insert>
	
	<update id="like_plus">
		update like_record
		set like_number = like_number+1
		where record_no = #{record_no};
	</update>
	
	<select id="getLike">
		select sum(like_number)
		from like_record
		where post_no = #{post_no}
	</select>
	
	<update id="like_update">
		update post
		set post_like = #{like}
		where post_no = #{post_no}
	</update>
	
	<select id="isBookMarked">
		select *
		from bookmark
		where post_no=#{post_no} and member_uuid=#{member_uuid}
	</select>
	
	<insert id="bookMark">
		insert into bookmark(bookmark_date, post_no, member_uuid)
		values (current_timestamp(), #{post_no}, #{member_uuid})
	</insert>
	
	<delete id="deleteBookMark">
		delete from bookmark
		where bookmark_no = #{bookmark_no}
	</delete>
	
	<select id="getStar">
		select star_no
		from star
		where post_no=#{post_no} and member_uuid=#{member_uuid}
	</select>
	
	<select id="getMyStar">
		select star
		from star
		where post_no=#{post_no} and member_uuid=#{member_uuid}
	</select>
	
	<insert id="insertStar">
		insert into star (star, post_no, member_uuid)
		values (#{star}, #{post_no}, #{member_uuid})
	</insert>
	
	<update id="updateStar">
		update star
		set star = #{star}
		where star_no=#{star_no}
	</update>
	
	<select id="getImage">
		select *
		from image
		where post_no=#{post_no}
		order by ord
	</select>
	<insert id="writeReply">
		insert into reply(content, post_no, member_uuid)
		values (#{reply_content}, #{post_no}, #{member_uuid})
	</insert>
	
	<select id="getReply">
		select reply_no, content as reply_content, reg_Date as reply_reg_date, mod_date as reply_mod_date, reply_like, post_no, member_uuid
		from reply
		where post_no = #{post_no}
		order by reply_like
	</select>
	
	<select id="replyLikeCheck">
		select rl_no
		from reply_like
		where reply_no = #{reply_no} and member_uuid = #{member_uuid}
	</select>
	
	<insert id="replyLike">
		insert into reply_like (reply_no, member_uuid)
		values (#{reply_no}, #{member_uuid})
	</insert>
	
	<update id="replyLikeUpdate">
		update reply
		set reply_like = (select count(*) from reply_like where reply_no = #{reply_no})
		where reply_no = #{reply_no}
	</update>
	
	<update id="modReply">
		update reply
		set content = #{reply_content}, mod_date = current_timestamp
		where reply_no = #{reply_no} and member_uuid = #{member_uuid}
	</update>
	
	<delete id="deleteReplyLike">
		delete from reply_like
		where reply_no = #{reply_no}
	</delete>
	
	<delete id="deleteReply">
		delete from reply
		where reply_no = #{reply_no}
	</delete>
	
	<select id="readReply">
		select *
		from reply
		where reply_no = #{reply_no}
	</select>
	
	<select id="reportType">
		select type_id as tag_id, type_name as tag_name
		from report_type
	</select>
	
	<insert id="report">
		insert into report(report_type, content, post_no, member_uuid)
		values (#{report_type}, #{content}, #{post_no}, #{member_uuid})
	</insert>
</mapper>