<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.springfull.backend.mapper.RegisterMapper">
	<select id="getCate" resultType="com.springfull.backend.domain.TagVO">
		select cate_id as tag_id, cate_name as tag_name from category
	</select>
	
	<select id="getCateByBrand">
		select cate_id
		from brand
		where brand_id in
		<foreach item="brand_id" collection="brand" open="(" separator="," close=")">
			#{brand_id}
		</foreach>
		group by cate_id
	</select>
	
	<select id="getBrand" resultType="com.springfull.backend.domain.TagVO">
		select brand_id as tag_id, brand_name as tag_name, cate_id
		from brand
		where cate_id in
		<foreach item="cate_id" collection="category" open="(" separator="," close=")">
			#{cate_id}
		</foreach>
		<if test="category != null and category.size>0">
			order by cate_id
		</if>
	</select>
	
	<select id="getTaste" resultType="com.springfull.backend.domain.TagVO">
		select taste_id as tag_id, taste_name as tag_name from taste
	</select>
	
	<select id="getIngredient" resultType="com.springfull.backend.domain.TagVO">
		select ingredient_id as tag_id, ingredient_name as tag_name, cate_id
		from ingredient		
		where cate_id in
		<foreach item="cate_id" collection="category" open="(" separator="," close=")">
			#{cate_id}
		</foreach>
		<if test="category!=null and category.size>0">
			order by cate_id
		</if>
	</select>
	
	<insert id="register" useGeneratedKeys="true" parameterType="com.springfull.backend.domain.PostDetailDTO" keyProperty="post_no">
		insert into post(title, cost, content, member_uuid)
		values (#{title}, #{cost}, #{content}, #{member_uuid})
	</insert>
	
	<insert id="inputBrand">
		insert into post_brand
		values (#{post_no}, #{brand_id})
	</insert>
	
	<insert id="inputTaste">
		insert into post_taste
		values (#{post_no}, #{taste_id})
	</insert>
	
	<insert id="inputIngredient">
		insert into post_ingredient
		values (#{post_no}, #{ingredient_id})
	</insert>
</mapper>